/*  Variables de Color */
:root {
    /* Botones Principales */
  --primary-red: #d93025;
    /* Letras */
  --text-dark: #000000;
    /* Fondo */
  --bg-light: #f8f9fa; 
}

/* BODY*/
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-dark) !important;
    color: var(--bg-light);
    /* background-color: #f8f9fa; */
    overflow-x: hidden;
}

/* Navbar - Cointainer */
#navbar {
    background: var(--bg-light);
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    padding: 0.8rem 1.5rem;
}

/* Menu Navbar*/
.nav-link { 
    color: var(--text-dark) !important;
    font-weight: 600;
    font-size: 20px;
    /* Espacio entre cada opción */
    margin: 0 5px;
    position: relative;
    transition: color 0.3s ease;
}

/* Efecto al pasar el mouse por las letras (llama al root) */
.nav-link:hover { 
    color: var(--primary-red) !important;
}

/* Linea al hacer hover con el mause*/
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--primary-red);
    transition: all 0.3s ease;
}

.nav-link:hover::after {
    width: 80%;
    left: 10%;
}

/* Boton de pedir gas*/
.btn-pill {
      background-color: #ff0000bb;
    border-color: #ff0000bb;

    border-radius: 50px;
    font-weight: 700;
    padding: 8px 25px;
    transition: all 0.3s ease;
}

.btn-pill:hover {
    background-color: var(--primary-red);
    border-color: var(--primary-red);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(217, 48, 37, 0.4);
}

/* Esto es del tamaño del logo  */
.logo-img-small {
  height: 60px;
  width: auto;
  object-fit: contain;
}

/* === FOOTER & ANIMACIONES === */
footer { background: #222; color: #aaa; padding: 2rem 0; font-size: 0.9rem; margin-top: auto; }
@keyframes fadeIn { from{opacity:0} to{opacity:1} }
@keyframes slideUp { from{transform:translateY(20px);opacity:0} to{transform:translateY(0);opacity:1} }
.animate-fade-in { animation: fadeIn 1s ease-out; }